#publish-activity{
    width: 960px;
    height: 450px;
    position: absolute;
    left: 0px;
    top: 42px;
    overflow-y: auto;

    /*BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid;*/
    SCROLLBAR-SHADOW-COLOR: #3d5054; SCROLLBAR-3DLIGHT-COLOR: #3d5054; SCROLLBAR-ARROW-COLOR: #ffd6da;SCROLLBAR-DARKSHADOW-COLOR: #85989c;
    SCROLLBAR-FACE-COLOR: #889b9f;  SCROLLBAR-HIGHLIGHT-COLOR: #c3d6da;
    OVERFLOW: auto;
}
#activity_intro{
}
#my-activity{
    width: 960px;
    height: 450px;
    position: absolute;
    left: 0px;
    top: 42px;
}
#my-activity section{
    width:960px;
    height: 300px;
    overflow-y: auto;
    /*BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid;*/
    SCROLLBAR-SHADOW-COLOR: #3d5054; SCROLLBAR-3DLIGHT-COLOR: #3d5054; SCROLLBAR-ARROW-COLOR: #ffd6da;SCROLLBAR-DARKSHADOW-COLOR: #85989c;
    SCROLLBAR-FACE-COLOR: #889b9f;  SCROLLBAR-HIGHLIGHT-COLOR: #c3d6da;
    OVERFLOW: auto;
}
#join-activity{
    width: 960px;
    height: 450px;
    position: absolute;
    left: 0px;
    top: 38px;
}
#join-activity section{
    width: 960px;
    height:300px;
    overflow-y: yes;
    SCROLLBAR-SHADOW-COLOR: #3d5054; SCROLLBAR-3DLIGHT-COLOR: #3d5054; SCROLLBAR-ARROW-COLOR: #ffd6da;SCROLLBAR-DARKSHADOW-COLOR: #85989c;
    SCROLLBAR-FACE-COLOR: #889b9f;  SCROLLBAR-HIGHLIGHT-COLOR: #c3d6da;
    OVERFLOW: auto;
}

#manage-activity{
    width: 960px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 38px;
}
#manage-activity section{
    width: 960px;
    height: 300px;
    overflow-y: yes;
    SCROLLBAR-SHADOW-COLOR: #3d5054; SCROLLBAR-3DLIGHT-COLOR: #3d5054; SCROLLBAR-ARROW-COLOR: #ffd6da;SCROLLBAR-DARKSHADOW-COLOR: #85989c;
    SCROLLBAR-FACE-COLOR: #889b9f;  SCROLLBAR-HIGHLIGHT-COLOR: #c3d6da;
    OVERFLOW: auto;
}
#activity-list-title{
    font-family:  微软雅黑, 宋体;
    font-size: large;
    font-style: oblique;
}
#my-activity-header td{
    text-align: left;
}
#my-activity-header form{
    width: 500px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 40px;
}
#searchBtn{
    width: 60px;
    height: 30px;
    position: absolute;
    left: 400px;
    top: 20px;
}
#my-activity-section{
    position: absolute;
    left: 0px;
    top: 120px;
}
#my-activity-section table tr td{
    width: 130px;
}
#publish-activity td{
    text-align: left;
}
#publish-activity td strong{
    font-size: 20px;
}
#activity-title{
    width: 500px;
    height: 30px;
}
#activity-place{
    width: 500px;
    height: 30px;
}
#activity-to-join tr td{
    width: 120px;
}
#searchnewactivity{
    width: 100%;
    position: relative;
    left: 20px;
    top: 20px;
}
#searchnewactivity td{
    text-align: left;
}
#searchNewBtn{
    position: relative;
    left: 20px;
    top: -30px;
}
#manage-activity section{
    position: absolute;
    top: 100px;
}
#manage-activity section table tr td{
    width: 120px;
}
#manage-activity header table{
    position: absolute;
    left: 30px;
}
#manage-activity header td{
    text-align: left;
}