#health-main{
    position:absolute;
    left: 0px;
    top: 40px;
    width: 960px;
    height: 500px;
    background-color: rgba(42,159,225,.2);
    background:url("../images/health.jpg") no-repeat;
    background-size: 100%;
}
.picture > div{
    float: left;
}
.distance{
    width: 250px;
    height: 250px;
    position: relative;
    left: 50px;
    right: 60px;
    background-color: rgb(255,227,172);
    border-radius: 50%;
    margin: 0 25px;
}
.distance:before{
    content: "运动目标完成";
    text-align: center;
    display: block;
    line-height: 130px;
    position: absolute;
    width: 212.5px;
    height: 212.5px;
    background-color: white;
    border-radius: 50%;
    top: 18.75px;
    left: 18.75px;
    color: rgb(255,162,0);
    font-size: 30px;
    font-weight: 600;
}
.distance:after{
    content: "92%";
    color: rgb(255,162,0);
    text-align: center;
    display: block;
    position: relative;
    top: 15px;
    left: 10px;
    width: 250px;
    height: 250px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 230px;
}
.sleep{
    width: 250px;
    height: 250px;
    position: relative;
    left: 50px;
    top: 0px;
    background-color: rgba(42,159,225,1);
    border-radius: 50%;
    margin: 0 0;
}
.sleep:before{
    content: "今日睡眠";
    color: white;
    position: relative;
    left: 60px;
    font-size: 30px;
    font-weight: 600;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 160px;
}
.sleep:after{
    content: "10:30:15";
    color: white;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    width: 300px;
    height: 250px;
    text-align: center;
    top:50px;
    left: -60px;
}
.bmi{
    width: 250px;
    height: 250px;
    position: relative;
    left: 50px;
    top: 0px;
    background-color: rgba(242,156,156,1);
    border-radius: 50%;
    margin: 0 25px;
}
.bmi:before{
    content: "BMI:19.9";
    color: white;
    position: relative;
    left: 30px;
    font-size: 30px;
    font-weight: 900;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 160px;
}
.bmi:after{
    content: "健康";
    color: white;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    width: 250px;
    height: 250px;
    text-align: center;
    top:50px;
    left: -70px;
}
#body-condition,#sleep-analysis,#device div{
    display: block;
}
#body-condition{
    width: 960px;
    height: 500px;
    background:url("../images/1.jpg") no-repeat;
    background-size: 960px 500px;
    position: absolute;
    left: 0px;
    top: 38px;
}
#body-condition-list{
    width: 300px;
    height: 200px;
    position: relative;
    left: 600px;
    top: 50px;
    font-size: 20px;
}
#body-condition-list table td{
    line-height: 30px;
}
#body-condition-list input{
    width: 150px;
    text-align: center;
}
#mod-btn{
    position: relative;
    left: 800px;
    top: 50px;
    width: 100px;
    height: 30px;
}

#sleep-analysis{
    width:960px;
    height: 500px;
    background:url("../images/睡眠状况.png") no-repeat;
    background-size: 960px 500px;
    position: absolute;
    left: 0px;
    top: 36px;
}

#sleep-condition{
    width: 500px;
    position: absolute;
    right: 50px;
    top: 70px;
}
#sleep-result{
    width: 300px;
    position: absolute;
    right: 150px;
    top: 250px;
}

#sleep-condition,#sleep-result{
    color: #01a5ca;
    font-size: 30px;
    font-family: 华文楷体, 微软雅黑, 宋体;
}
#sleep-condition strong{
    color: #ff0000;
}

#device{
    width: 960px;
    height: 500px;
    background:url("../images/shouhuan.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    top: 36px;
}

#select-device{
    font-family: 华文楷体, 微软雅黑, 宋体;
    font-size: 25px;
    position: absolute;
    right: 150px;
    top: 100px;
}

#import-health-data{
    font-family: 华文楷体, 微软雅黑, 宋体;
    font-size: 20px;
    position: absolute;
    top: 150px;
    right: 160px;
}