.content>div{
    width: 960px;
    height: 450px;
    position: absolute;
    left: 0px;
    top: 40px;
}
#fileupload{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 50px;
}
#basic-info td{
    text-align: left;
}
#nickname{
    border: none;
    font-family: 华文楷体, 微软雅黑, 宋体;
    font-size: 20px;
    color: #01a5ca;
}